.cart-table {
    margin-top: 11.3rem;
    font-family: Plus Jakarta Sans;
}

.responsive-table {
    margin-top: 3.2rem;
}

.responsive-table span {
    display: inline-block;
    margin: auto;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.responsive-table .table-header {
    background-color: var(--main-color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    color: #fff;
    background-color: #0b0b11;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.responsive-table .col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive-table .col-1 {
    flex-basis: 30%;
    gap: 0.4rem;
}
.responsive-table .col-1 span:hover {
    color: var(--main-color);
    cursor: pointer;
}
.col-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.responsive-table .col-2 {
    flex-basis: 10%;
}
.responsive-table .col-3 {
    flex-basis: 30%;
}
.responsive-table .col-4 {
    flex-basis: 20%;
}

.responsive-table .col-5 {
    flex-basis: 10%;
}

.responsive-table .col-5 svg {
    transition: all 200ms ease;
}

.responsive-table .col-5 svg:hover {
    color: #ff3333;
    cursor: pointer;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row {
    }
    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 10px 0;
        &:before {
            color: #6c7a89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
    }
}

.table {
    height: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
}

.table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.table::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.table::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.table::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.food-desc {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.name {
    font-size: 2.4rem;
    font-family: Plus Jakarta Sans;
}

.change-amount {
    margin: auto;
}

.change-amount,
.change-amount tr {
    border: 1px solid #fff;
}

.change-amount tr td {
    padding: 1.2rem 2.4rem;
    border: 1px solid #fff;
    cursor: pointer;
}

.change-amount tr td input {
    width: 3rem;
    text-align: center;
}

.actions-form {
    margin-top: 2.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.coupon {
    display: flex;
    gap: 2.6rem;
}

.goto-checkout {
    display: flex;
    align-items: center;
    gap: 3rem;
}
