.most-popular {
    margin-top: 13.9rem;
    color: #fff;
    padding: 4.8rem 0;
    font-family: Plus Jakarta Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-wrapper {
    margin-top: 6rem;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.food-item {
    position: relative;
    flex: 1;
    transition: all 400ms ease;
    border-radius: 0.8rem;
    /* overflow: hidden; */
}

.food-item:hover {
    background-color: #0b0b11;
    cursor: pointer;
}

.food-image {
    height: 60%;
    border-radius: 0.8rem;
}

.food-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}

.food-desc--top,
.food-desc--bottom {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-heading,
.food-price {
    font-family: Libre Bodoni;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    text-transform: capitalize;
}

.food-price {
    position: relative;
}

.food-old-price {
    position: absolute;
    top: -80%;
    right: 0;
    opacity: 0.6;
    text-decoration: line-through;
}

.food-desc {
    padding: 1.2rem 1.2rem 2.4rem;
    box-sizing: content-box;
}

.food-desc--body {
    margin-top: 0.6rem;
    color: var(--paragraph-color);
    /* 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button {
    padding-bottom: 0.6rem;
    border-bottom: 0.1rem solid transparent;
    opacity: 0.6;
}

.button:hover {
    cursor: pointer;
    border-bottom: 0.1rem solid var(--main-color);
    opacity: 1;
}

.action {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 1.3rem;
    border-bottom: 1px solid var(--main-color);
    cursor: pointer;
}

.action button {
    background-color: transparent;
    border: none;
    color: var(--Dark-Orange, #fb8f2c);
    /* 16 */
    /* font-family: Plus Jakarta Sans; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* .most-popular {
        padding: 2.4rem;
    } */
    .food-wrapper {
        flex-direction: column;
    }
}
